<div class="ui container">
  <div class="ui stackable two column grid">
    <div class="row">
      <button
          class="ui button"
          ui-sref="user-list"
      >Back to all users
      </button>
    </div>
    <div class="row">
      <div class="eight wide column">
        <user-edit></user-edit>
      </div>
      <div class="eight wide column">
        <user-info ng-if="$ctrlDetail.id"></user-info>
        <new-recharge ng-if="$ctrlDetail.id"></new-recharge>
      </div>
    </div>
  </div>
</div>
