<div class="ui segment">
    <div
        class="ui middle aligned selection divided list"
    >
        <h3>Range</h3>
        <form class="ui form" ng-submit="$ctrlTransList.reloadTrans()">
            <div class="three fields">
                <div class="field">
                    <label>Start date</label>
                    <div class="ui calendar" id="rangeStart">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input
                                type="text"
                                value="{{ $ctrlTransList.params.datetime_from }}"
                            >
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>End date</label>
                    <div class="ui calendar" id="rangeEnd">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input
                                type="text"
                                value="{{ $ctrlTransList.params.datetime_to }}"
                            >
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Type</label>
                    <select
                        class="ui search selection dropdown"
                        ng-model="$ctrlTransList.params.trans_type"
                        ng-init="$ctrlTransList.params.trans_type = $ctrlTransList.params.trans_type || $ctrlTransList.types[0].value "
                        ng-options="type.value as type.name for type in $ctrlTransList.types">
                    </select>
                </div>
            </div>
            <button class="ui button">Reload</button>
        </form>
        <table class="ui single striped line table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Operation ID</th>
                <th>Transaction ID</th>
                <th>Coupon ID</th>
                <th>Coupon Code</th>
                <th>Transaction Type</th>
                <th>Comment</th>
                <th>Amount</th>
                <th>Sum</th>
                <th>Currency</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in $ctrlTransList.transactions">
                <td>{{ transaction.dateFormated }}</td>
                <td>{{ transaction.operation_id }}</td>
                <td>{{ transaction.transaction_id }}</td>
                <td>{{ transaction.coupon_id }}</td>
                <td>{{ transaction.coupon_code }}</td>
                <td>{{ transaction.transaction_type }}</td>
                <td>{{ transaction.comment }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.sum }}</td>
                <td>{{ transaction.currency }}</td>
                <td>{{ transaction.status }}</td>
            </tr>
        </table>
        <div class="ui active inverted dimmer"
             ng-if="$ctrlTransList.isLoading"
        >
            <div class="ui loader"></div>
        </div>
        <div
            ng-if="$ctrlTransList.transactions == 0"
            class="ui warning message">
            <div class="header">
                No transactions
            </div>
        </div>
    </div>
</div>
