<div
    class="ui middle aligned selection divided list"
    ng-repeat="user in $ctrl.users"
>
  <div
      class="item"
      ng-click="$ctrl.openUser(user.user_id)"
  >
    <div class="content ui three column grid">
      <div class="left floated six wide column">
        <div class="header">{{ user.user_name }} {{ user.user_custom }}</div>
        <div class="meta">
          <a  ng-if="user.email"
              href="mailto:{this.props.email}">{{ user.email }}</a>
          <br ng-if="user.email"/>
          <span class="date">Register date: {{ user.register_date | date : "dd/MM/yyyy" }}</span>
        </div>
      </div>
      <div class="rigth floated six wide column">
        <div class="meta">
          <span>Currency: {{ user.wallet_currency }}</span>
          <br/>
          <span>Balance: {{ user.balance }}</span>
          <br/>
          <span>Wallet Amount: {{ user.wallet_amount }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
