<div class="ui segment">
  <form
      ng-submit="$ctrlNewRecharge.submitRecharge()"
      class="ui form" novalidate>
    <div class="field">
      <label>Amount</label>
      <input
          type="number"
          name="amount"
          ng-model="$ctrlNewRecharge.newRecharge.amount"
          placeholder="Amount">
    </div>
    <div class="field">
      <label>Comment</label>
      <input
          type="text"
          ng-model="$ctrlNewRecharge.newRecharge.comment"
          name="comment"
          placeholder="Comment">
    </div>
    <button
        class="ui positive button"
        type="submit"
        ng-disabled="$ctrlNewRecharge.isLoading"
    >New recharge
    </button>
    <div class="ui active inverted dimmer"
         ng-if="$ctrlNewRecharge.isLoading"
    >
      <div class="ui loader"></div>
    </div>
  </form>
  <div
      ng-repeat="error in $ctrlNewRecharge.errors"
      class="ui negative message">
    <div ng-if="error.header" class="header">
      {{ error.header }}
    </div>
    <p>{{ error.message }}</p>
  </div>
</div>
